.box {
  width: 450px;
  background: rgba (0, 0, 0, 0.4);
  opacity: 75%;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  background: black;
}

.profile__h3 {
  margin: 10px;
  text-align: center;
  text-decoration: underline;
}

.profile__p {
  width: 350px;
  text-align: center;
  padding: 1em;
}

.profile {
  width: 350px;
  padding-top: 1em;
}

.profile__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  width: 350px;
  background: whitesmoke;
  justify-items: center;
  margin-top: 2em;
  padding: 20px;
}

.profile__container--box {
  border: 2px solid black;
  color: black;
  background: whitesmoke;
  margin: 10px;
  width: fit-content;
  padding: 10px;
}