* {
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: var(--primary);
    margin: 0;
    padding: 0;
    background: url(/images/start.jpg);
    background-size: cover;
}


